<div id="oper-checkbox-panel">
    <div #operCheckbox id="plus-checkbox" class="oper-checkbox-container" (click)="selectOperCheckbox('plus')">
        <img class="oper-checkbox-img" src="assets/plus.png" />
    </div>
    <div #operCheckbox id="minus-checkbox" class="oper-checkbox-container" (click)="selectOperCheckbox('minus')">
        <img class="oper-checkbox-img" src="assets/minus.png" />
    </div>
    <div #operCheckbox id="multiply-checkbox" class="oper-checkbox-container" (click)="selectOperCheckbox('multiply')">
        <img class="oper-checkbox-img" src="assets/multiply.png" />
    </div>
    <div #operCheckbox id="divide-checkbox" class="oper-checkbox-container" (click)="selectOperCheckbox('divide')">
        <img class="oper-checkbox-img" src="assets/divide.png" />
    </div>
</div>